/* Configs Geral */
* {
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(48, 48, 48);
}
p{
    text-align: center;
}





/* Header */

header{
    background-color: rgb(48, 48, 48);
    color: gray;
    display: flex;
    padding: 0 25px;
    justify-content:space-between;
    align-items: center;
    position: relative;
    transition: 0.3s;
}
h1{
    font-weight: 500;
    font-size: 140%;
}
.navigation{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
.menu{
    display: flex;
    z-index: 1;
    transition: 0.5s;
}
.liHeader{
    list-style: none;
}
.menu li a {
    text-decoration: none;
    color: gray;
    display: block;
    padding: 40px 25px;
    line-height: 1;
    transition: 0.3s;
}
.TextAbout{
    text-align: justify;
}
/* Primeiro Hover */
.liHeader:hover .HoverHeader{
    text-decoration: underline;
    color: rgb(78, 80, 80);

}





/* menu hamburger */
.menu li a:hover {
    box-shadow: 0 -5px 0px white inset,
    500px 0 0 rgba(255, 255, 255, .03) inset;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;

}
.hamburger:before,
.hamburger:after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;

}
.hamburger:before{
    top: -10px;
    width: 20px;
}
.hamburger:after{
    top: 10px;
    width: 25px;
}
.checkmenu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger,
.checkmenu{
    display: none;
}
.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked ~ .menu{
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 992px){
    .hamburger,
    .checkmenu{
    display: block;
    }
    header{
        padding: 10px 20px;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -200px;
        background-color: rgb(48, 48, 48);
        width: 200px;
        height: 40%;
        padding-top: 65px;
    }
    .menu li{
        width: 100%;
    }
    .menu li a:hover{
        padding: 30px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset;
    }
}





/* Main (text and image) */

main{
    background-color: white;

}
.SectionText{
    background-color: rgb(180, 178, 178);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 385px;
}
.divText{
    width: 500px;
    padding: 10px;
}
.divImg{
    padding: 10px;
}
.imgMain{
    border-radius: 50%;
    margin: auto;
    width: 250px;
    padding: 0px;
    box-shadow: 1px 1px 6px black;
}





/* Main (Listas) */

.SectionList{
    background-color: rgb(187, 187, 187);
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.DivItem{
    width: 80px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    height: 150px;
    padding: auto;
    margin: 8px;
    position: relative;
    box-shadow: 1px 1px 3px black;


}
.divList{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 50px;
    
}
.imglist{
    width: 70px;
    position: absolute;
    left: 5px;
    bottom: 3em;

}
.Subtitulo{
    position: absolute;
    top: -40px;
    left: -20px;
    font-weight: 700;
    font-size: 17px;
}
.Legend{
    opacity: 0;
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
}
.NumberOrdinal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    left: 0;
    border-radius: 10px 0px 3px 0px;
    width: 20px;
    height: 23px;
    box-shadow: 1px 1px 1px black;
}
/* Segundo Hover */
.DivItem:hover figcaption{
    opacity:100;

}





/* footer */

footer{
    background-color: rgb(48, 48, 48);
    position: relative;
    height: auto;
    
} 
footer > section{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.DivIcones{
    display: flex;
    text-align: end;
    width: 500px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
 .Icones{
    width: 35px;
    padding-right: 30px;
    padding-bottom: 22px;
} 
.DivContato{
    display: flex;
    text-align: end;
    width: 500px;
    justify-content: center;
    margin-bottom: 30px;
}
.LinkFooter{
    text-decoration: none;
    color: rgb(51, 50, 50);
    background-color: rgb(189, 188, 188);
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
    width: auto;
}
/* Terceiro Hover */
.LinkFooter:hover .HoverFooter{
    text-decoration: underline;
    color: rgb(97, 96, 96);

}