/* Configs Geral */
* {
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(48, 48, 48);
}
p{
    text-align: center;
}



/* Header */

header{
    background-color: rgb(48, 48, 48);
    color: gray;
    display: flex;
    padding: 15px;
    justify-content:space-between;
}
h1{
    font-weight: 500;
    font-size: 140%;
}
li{
    list-style: none;
    padding: 10px;
    
}
header > ul{
    align-self: end;
    display: flex;
}
.LinkHeader{
    text-decoration: none;
    color: gray;
}
.TextAbout{
    text-align: justify;
}
/* Primeiro Hover */
.liHeader:hover .HoverHeader{
    text-decoration: underline;
    color: rgb(78, 80, 80);

}




/* Main (text and image) */

main{
    background-color: white;

}
.SectionText{
    background-color: rgb(180, 178, 178);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 385px;
}
.divText{
    width: 500px;
    padding: 10px;
}
.divImg{
    padding: 10px;
}
.imgMain{
    border-radius: 50%;
    margin: auto;
    width: 250px;
    padding: 0px;
    box-shadow: 1px 1px 6px black;
}